extends ../layout

block content
	.center-block
		.panel.panel-default
			.panel-heading 
				span.panel-title 
					a(href='/article/#{article.id}')
						strong #{article.title}
				.pull-right
					span.label.label-info
						span.articleLike.glyphicon.glyphicon-heart #{article.like}	
			.panel-body 
				.center-block.article
					.thumbnail.articleImg
						img(src='/uploads/#{article.poster}')
			.panel-footer
				h4 #{article.title}
					span.pull-right
						a(href='/article/#{article.id}')
							span.label.label-success more更多
				hr
				p #{article.content}